# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
{{if eq .Database "postgres"}}
DATABASE_URL="postgresql://user:password@localhost:5432/{{snakeCase .ProjectName}}?schema=public"
{{else if eq .Database "mongodb"}}
DATABASE_URL="mongodb://localhost:27017/{{snakeCase .ProjectName}}"
{{end}}

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Logging
LOG_LEVEL=info
